<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Índice de películas
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="title" (ionChange)="getFilmList()" placeholder="Buscar">
  </ion-searchbar>
  <ion-list>

    <div *ngIf="(films | async)?.length>0; else loading">
      <ion-item button *ngFor="let pelicula of (films | async)" [routerLink]="['/', 'pelicula', pelicula.Title]">
        <ion-label text-wrap>
          <h1>{{pelicula.Title}}</h1>
        </ion-label>
      </ion-item>
    </div>

    <ng-template #loading>
      <p>Por favor, pruebe a hacer una búsqueda más precisa.</p>
    </ng-template>

  </ion-list>
</ion-content>