ion-title{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
ion-card-title{
    text-align: start;
    margin: 10px 10px 10px 10px;
}
ion-card-subtitle{
    margin-left: 5vh;
}
ion-card-header{
    color:black
}
ion-card-content{
    color:black
}